bin/Debug/net6.0/DIO.Series.deps.json
bin/Debug/net6.0/DIO.Series.dll
bin/Debug/net6.0/DIO.Series.exe
bin/Debug/net6.0/DIO.Series.pdb
bin/Debug/net6.0/DIO.Series.runtimeconfig.json
bin/Debug/net6.0/ref/DIO.Series.dll
obj/DIO.Series.csproj.nuget.dgspec.json
obj/DIO.Series.csproj.nuget.g.props
obj/DIO.Series.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/DIO.Series.AssemblyInfo.cs
obj/Debug/net6.0/DIO.Series.AssemblyInfoInputs.cache
obj/Debug/net6.0/DIO.Series.assets.cache
obj/Debug/net6.0/DIO.Series.csproj.AssemblyReference.cache
obj/Debug/net6.0/DIO.Series.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/DIO.Series.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DIO.Series.dll
obj/Debug/net6.0/DIO.Series.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DIO.Series.genruntimeconfig.cache
obj/Debug/net6.0/DIO.Series.GlobalUsings.g.cs
obj/Debug/net6.0/DIO.Series.pdb
obj/Debug/net6.0/ref/DIO.Series.dll
